body{
    --load-time:300ms;
    background-image: url("/icons/bg.svg");
    background-color:#303940;
    /* background-color:red; */
    background-size: 300%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% -20%;
    animation: bg-load var(--load-time) ease-in-out ;
}



.tabs{
    font-size:0.7rem ;
}
.navList  a img{
    width: 1rem;
}




.headline h1{
    font-size: 1.7rem;
}
#named{
    margin-top: 1rem;
}
#named span{
    font-size: 0.4rem;
    letter-spacing: 0.1rem;

}

