
body{
    --load-time:300ms;
    background-image: url("/icons/bg.svg");
    background-color:#303940;
    /* background-color:red; */
    background-size: 240%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 12% 0%;
    animation: bg-load var(--load-time) ease-in-out ;
}
.landingPage{
    flex-direction: column;
}
.right{
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    /* background-color: blue; */
    height: 4rem;
    width: 100vw;
}
#nav{
    /* background-color: aqua; */
    /* height: 100%; */
    width: 100%;
}
.navList {
    justify-content: space-between;
    flex-direction: row;
    /* background-color: red; */
    height: 4rem;
    width: 80%;
}
#img1{
    margin-bottom: 0;
}
#img2{
    margin-top: 0;
}
.tabs{
    transform: rotate(0);
}
.headline{
    width: 30rem;
    height: 20rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
margin-top: -10rem;
margin-left: -15rem;
    /* background-color: red;    */
}
.headline h1{
    font-size: 3rem;
}
#named{
    margin-top: 2rem;
}
#named span{
    font-size: 0.8rem;

}