
<div id="nav">
    <div class="navList">
        <a href="/" id="img1"><img src="/icons/account_balance.svg" alt="" srcset=""></a>
        <a class="tabs" href="/work"> WORK </a>
        <a class="tabs" href="/about"> ABOUT </a>
        <a class="tabs" href="/contact"> CONTACT </a>
        <a  id="img2"><img src="/icons/mail_outline.svg" alt="" srcset=""></a>
    </div>
  </div>