<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/about.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Lato&family=McLaren&family=Montserrat:ital@1&family=Odibee+Sans&family=Orbitron:wght@400;900&family=Play&family=Playball&family=Poppins&family=Quintessential&family=Satisfy&family=Viaoda+Libre&display=swap" rel="stylesheet">
</head>
<body>
    <div id="about">
        <div class="long">
            <span id="this">Hello!! Welcome</span><span> to the world</span>
            <span>of Web Development.</span><br>
            <span>I'm Pushpendra Pal</span><br>
            <span>interested in creating</span><br>
            <span>new things.</span><br>
            <span>Ready to Get Started</span><br>
            <span>    </span><br>
            <span>Let's GOOO....</span>
        </div>
        <div class="navBarComponent">
            <%- include("partials/navbar"); -%> 
        </div>
    </div>


    <script src="js/about.js"></script>
</body>
</html>