<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/about.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Lato&family=McLaren&family=Montserrat:ital@1&family=Odibee+Sans&family=Orbitron:wght@400;900&family=Play&family=Playball&family=Poppins&family=Quintessential&family=Satisfy&family=Viaoda+Libre&display=swap" rel="stylesheet">
</head>
<body>
    <div id="about">
        <div class="leftBar">
            <div class="lbContainer">
                <div id="line1" class="line" ></div>
                <div id="line2" class="line"></div>
                <div id="line3" class="line"></div>
                <div id="line4" class="line"></div>
                <div id="line5" class="line"></div>
                <div id="line6" class="line"></div>
                <div id="line7" class="line"></div>
                <div id="line8" class="line"></div>
            </div>
        </div>
        <div class="long">
            <span id="this" class="spanWords " >Hello!! Welcome to</span>
            <span class="spanWords"> the world</span>
            <span class="spanWords " >of Web Development.</span>
            <span class="spanWords">I'm Pushpendra Pal</span>
            <span class="spanWords " >interested in creating</span>
            <span class="spanWords">new things.</span>
            <span class="spanWords " >Ready to Get Started</span>
            <span  class="spanWords ">ㅤ</span>
            <span class="spanWords" >Let's GOOO....</span>
        </div>
        <div class="navBarComponent">
            <%- include("partials/navbar"); -%> 
        </div>
    </div>


    <script src="js/about.js"></script>
</body>
</html>