<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/landing.css" />
    <link rel="stylesheet" href="css/pageLoader.css">
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Lato&family=McLaren&family=Montserrat:ital@1&family=Odibee+Sans&family=Orbitron:wght@400;900&family=Play&family=Playball&family=Poppins&family=Quintessential&family=Satisfy&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    media="screen and (max-width: 810px)"
    href="responsive/landing1.css"
  />
    <link
    rel="stylesheet"
    media="screen and (max-width: 500px)"
    href="responsive/landing2.css"
  />
    <link
    rel="stylesheet"
    media="screen and (max-width: 340px)"
    href="responsive/landing3.css"
  />
  </head>
  <body>

    <div id="loading-page">
      <span class="loader">
          Loading...
      </span>
      <span class="load_anim1"></span>
      <span class="load_anim2"></span>
    </div>

<div class="landingPage">
  

<div class="middle">

  <div class="headline">
    <h1 id="heading">
        WEB DEVELOPER <br> PORTFOLIO
    </h1>
    <div id="named">
        <span id="letter1">P<span>
        <span id="letter2">U<span>
        <span id="letter3">S<span>
        <span id="letter4">H<span>
        <span id="letter5">P<span>
        <span id="letter6">E<span>
        <span id="letter7">N<span>
        <span id="letter8">D<span>
        <span id="letter9">R<span>
        <span id="letter10">A<span>
        <span id="letter11">ㅤ<span>
        <span id="letter12">P<span>
        <span id="letter13">A<span>
        <span id="letter14">L<span>
    </div>
</div>
</div>
<div class="right">
  <%- include("partials/navbar"); -%> 
</div>

</div>


 



    <script src="/js/landing.js"></script>
    <script src="/js/pageLoader.js"></script>
  </body>
</html>
