::-webkit-scrollbar{
    width: 0.9rem;
    }
    /* ::-webkit-scrollbar-track{
    background:  #515151;
    } */
    ::-webkit-scrollbar-thumb {
        background-color: #818B99;
        border: 0.2rem solid transparent;
        /* border-radius: 1vw; */
        background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: #606770;
    }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#303940;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Play', sans-serif;
    
}
.contactContainer{
    color: #b9ccda;
    padding: 3rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    animation: slideDown 300ms ease-in-out;
}
@keyframes slideDown {
    0%{
        transform: translateY(-3rem);
    }
    100%{

    }
    
}
.contactContainer h2{
    letter-spacing: 0.13rem;
 font-size: 2.5rem;
 color: rgb(34, 129, 218);
}
.contactContainer form{
    margin-top: 3rem;
display: flex;
/* align-items: center; */
justify-content: space-between;
flex-direction: column;
min-height: 20rem;
width: 80%;
/* background-color: red; */
}

.navBarComponent{
    position: sticky;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    /* background-color: blue; */
    height: 100vh;
    width: 8rem;

}
#textarea{
    resize: none;
    margin-bottom: 2.4rem;
}
input[type=text],
input[type=email]{
    height: 1.8rem;
    margin-bottom: 1rem;
}
.btn{
    font-family: 'Play', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color:   rgb(34, 129, 218);
    cursor: pointer;
    border: 0.15rem solid rgba(0, 0, 0, 0.7);
    border-radius: 0.2rem;
    letter-spacing: 0.13rem;
color: white;
}
.btn:hover{
    background-color:   rgb(31, 119, 201);
}
.icons{

    width: 70%;
    padding: 0 4rem;
    margin-top: 5rem;
    display: flex;
align-items: center;
justify-content: space-between;
height: 2rem;
font-size: 2.4rem;
/* background-color: red; */

}
.icons a{
    text-decoration: none;
    /* margin-right: 4rem; */
    color: #b9ccda;
    font-style: normal;
    /* background-color: red; */
}
.icons a:hover{
    animation: pop 100ms ease-in-out forwards;
}
@keyframes pop{
    0%{

    }90%{
        transform: scale(115%);
    }100%{
        transform: scale(110%);
    }
}
.icons a:nth-child(1):hover{
    background: linear-gradient(135deg,#458eff,#fb3958);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.icons a:nth-child(2):hover{
    color: #4267B2;
}
.icons a:nth-child(3):hover{
    color: #00acee;
}
.icons a:nth-child(4):hover{
    color: #0077b5;
}
