::-webkit-scrollbar{
    width: 0.9rem;
    }
    /* ::-webkit-scrollbar-track{
    background:  #515151;
    } */
    ::-webkit-scrollbar-thumb {
        background-color: #818B99;
        border: 0.2rem solid transparent;
        /* border-radius: 1vw; */
        background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: #606770;
    }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --load-time:300ms;
    background:#303940 url("/icons/bg.svg") no-repeat ;
    background-size: 130%;
    background-position: 180% 64%;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: bg-load var(--load-time) ease-in-out ;
}


.landingPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

}
.left{
    height: 100vh;
    width: 10rem;
    /* background-color: wheat; */
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black;s */
    /* background-color: rgb(0, 119, 255); */
    width: 80%;

}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* background-color: rgb(0, 119, 255); */
}


.headline{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #d9d9d9;
    height: 16rem;
    width: 40rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
margin-top: -5rem;
margin-left: -20rem;
    /* background-color: red;      */

}
.headline h1{
    font-size: 4.1rem;
    /* color: #fff200; */
    letter-spacing: 0.2rem;
    animation: heading-load var(--load-time) ease-in-out 10ms;
}

#named{
    margin-top: 4rem;
    cursor: pointer;
    animation: named-load var(--load-time) ease-in-out 10ms;
}
#named span{
    font-size: 0.9rem;
    /* color: #d9d9d9; */
    color: #fff200;
    letter-spacing: 0.2rem;

}


@keyframes bg-load{
    0%{
        background-position: 180% 70%;
    }
    100%{
        background-position: 180% 64%;
    }
}
@keyframes heading-load{
    0%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes named-load{
    0%{
        transform: translateX(40%);
    }
    100%{
        transform: translateY(0);
    }
}