::-webkit-scrollbar{
    width: 0.9rem;
    }
    /* ::-webkit-scrollbar-track{
    background:  #515151;
    } */
    ::-webkit-scrollbar-thumb {
        background-color: #818B99;
        border: 0.2rem solid transparent;
        /* border-radius: 1vw; */
        background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: #606770;
    }




#nav{
    font-family: 'Odibee Sans', cursive;
    display: flex;
    justify-content: center;
    align-items:center;
    /* background-color: red; */
   animation: nav-load 300ms ease-in-out;
}

.navList {
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;    
/* background-color: gold; */
list-style: none;
height: 90vh;
}


#img1{
    margin-bottom: 1rem;
}
#img2{
    margin-top: 1rem;
}
#img1:hover img{
    content: url("/icons/account_balanceY.svg");
}

#img2:hover img{
    content: url("/icons/mail_outlineY.svg");
}
.navList  a img{
width: 1.7rem;
cursor: pointer;
}

.tabs{
color: #b9ccda;
text-decoration: none;
transform: rotate(90deg);

letter-spacing: 0.2rem;
transition: all 300ms ease-in-out;
}

.tabs:hover{
    transform: rotate(0);
    color: #fff200;
}

@keyframes nav-load{
    0%{
        transform: translateY(30%);
    }
    100%{
        transform: translateX(0);
    }
}
.popUpDiv{
    font-family: "Play";
    display: block;
    z-index:1;
    color: white;
    background-color: rgb(37, 37, 37);
    border-radius: 0.2rem;
    position: fixed;
    top: 93vh;
    right: 0.3rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
}
#emailDiv{
    font-family: "Play";
    display: block;
    z-index:1;
    color: #b9ccda;
    background-color: transparent;
    text-decoration: underline;
    border-radius: 0.2rem;
    position: fixed;
    top: 88vh;
    right: 0.6rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
}
